*, ::before, ::after {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    font-family: inherit;
    line-height: 1.5;
}

body {
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    'aside main';
    grid-template-columns: 250px 1fr;
}

aside {
    grid-area: aside;
    background-color: #f4f4f4;
    padding: 1rem;
    border-right: 1px solid #ddd;
}

main {
    grid-area: main;
    padding: 1rem;
}